%h1.game_name{ data: { name: user }}= "Welcome, #{user}"

%h3 Waiting for players to join...

%h3 Current players:

%ul.players
  %li= "#{user} (you)"

:javascript
  var game = $(".game_name").data("name");
  socket.emit('lobby.request.new_game', game);

  window.onbeforeunload = function() {
    socket.emit('lobby.request.host_disconnected', game);
  };

  socket.on('lobby.response.discover_available_games', function() {
    socket.emit('lobby.request.new_game', game);
  });
