%h1.game_name{ data: { name: user }}= "Welcome, #{user}"

%h3 Waiting for players to join...

%h3 Current players:

%ul.players
  %li= "#{user} (you)"

:javascript
  var game = $(".game_name").data("name");
  socket.emit('lobby.request.new_game', game);
  socket.emit('game.register_host', game);

  window.onbeforeunload = function() {
    socket.emit('lobby.request.host_disconnected', game);
  };

  socket.on('lobby.response.discover_available_games', function() {
    socket.emit('lobby.request.new_game', game);
  });

  socket.on('game.player_joined', function(player_name) {
    $("<li>").html(player_name).appendTo($('ul.players'));
  });

  socket.on('game.response.player_left', function(player_name) {
    $("ul.players").find('li:contains('+ player_name +')').remove();
  });
