/ .playground
/   .pitch
/     .static-pitch
/       .goal.left
/       .part.left
/       .center-circle
/       .center
/       .part.right
/       .goal.right
/     .dynamic-pitch
/       / .player.red{ data: { team: 1,  player: 1 } }
/       / .player.blue{ data: { team: 2,  player: 1 } }
/       .ball
