.playground
  .static-pitch
    .goal.left
    .part.left
    .center-circle
    .center
    .part.right
    .goal.right
  .dynamic-pitch
    .player{ data: { team: 1,  player: 1 } }
    .player{ data: { team: 2,  player: 1 } }
    .ball
