%h1 Lobby

%h3 Available games

%ul.games

= form_for :games, url: games_path, method: :post do |f|
  = f.text_field :nick, placeholder: "give us your name", :required => true
  = f.submit 'Create new game', class: 'btn btn-success'

:javascript
  socket.on('lobby.response.new_game', function(game_name) {
    $("<li>").attr('data-name', game_name).html(game_name).appendTo($(".games"));
  });

  socket.on('lobby.response.host_disconnected', function(game_name) {
    $("ul.games").find('li[data-name='+ game_name +']').remove();
  });
