.info-bar {
  margin: 0 auto;
  padding: 1px;
  display: block;
  background-color: black;

  p {
    position: relative;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;

    &:before {
      margin-left: -18px;
      width: 140px;
      position: absolute;
      bottom: -5px;
      content: '.';
      color: black;
      border-bottom: 1px solid white;
    }
  }
}

.pitch {
  margin: 20px auto;
  width: 1100px;
  height: 686px;
  position: relative;
  display: block;
}

.player {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  border-radius: 25px;
  border: 2px solid white;
  z-index: 30;

  &.red {
    top: 47%;
    left: 42%;
    background: red;
  }

  &.blue {
    top: 47%;
    left: 52%;
    background: blue;
  }
}

.ball {
  width: 25px;
  height: 25px;
  display: block;
  background: gray;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  border: 2px solid greenyellow;
}

.static-pitch, .dynamic-pitch {
  width: 1100px;
  height: 686px;
  display: block;
  border: 5px solid black;
}

.dynamic-pitch {
  position: absolute;
  top: 0px;
  left: 0px;
}

.static-pitch {
  position: relative;
  background-color: green;
}

.center-circle {
  position: absolute;
  top: 245px;
  left: 445px;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 100px;
  display: block;
}

.center {
  position: absolute;
  top: 339px;
  left: 542px;
  width: 6px;
  height: 6px;
  border: 2px solid white;
  border-radius: 5px;
  display: block;
  background: white;
}

.part {
  position: relative;
  display: inline-block;
  width: 452px;
  height: 590px;
  border: 2px solid white;
  z-index: 10;

  &.left {
    float: left;
    margin: 50px 0px 0px 93px;
    border-right: 1px solid white;
  }
  &.right {
    float: right;
    margin: 50px 93px 0px 0px;
    border-left: 1px solid white;
  }
}

.goal {
  border: 2px solid white;
  position: absolute;
  width: 70px;
  height: 170px;
  top: 254px;
  z-index: 20;

  &.left {
    left: 25px;
    border-right: 2px dotted green;
    box-shadow: 2px 0px 6px -4px white;
  }

  &.right {
    right: 25px;
    border-left: 2px dotted green;
    box-shadow: -2px 0px 6px -4px white;
  }
}
